@import "bourbon/bourbon";
@import "neat/neat";

$primary-color: blue;
$secondary-color: gray;
body {
  padding: 20px;
  height: 100%;
}


html {
  background: #DCD7D4;
}
// Navbar
$bourbon-nav-background-color: #ccc;
$nav-height: 50px;
$shadow-height: 3px;
$background-image: "http://chromecastbg.alexmeub.com/images/1080_Sailing-Stones.jpg";

.nav {
  opacity: .4;
  position: fixed;
  height: $nav-height + $shadow-height;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  -moz-box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
  box-shadow: 2px 2px 2px #000;
  padding: 5px;

  ul {
    height: $nav-height $shadow-height;
    text-align: center;
    float: center;
    padding: 0;
    margin: 0;

  }

  li {
    background: #544;
    display: inline-block;
    padding: 2px;
    height: 100%;
    -moz-box-shadow: 2px 2px 2px #000;
    -webkit-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;

  }

  a {
    color: #000;
    display: inline-block;
    font-weight: bold;
    padding: 1em;

    &:hover {
      background-color: darken($bourbon-nav-background-color, 10);
      color: #fff;
    }
  }
}

.nav::after {
  box-shadow: (red 2px 2px 500px);
  position: fixed;
  top: $nav-height;
  left: 0;
  height: $nav-height/50;


}
// END Navbar

// Hero Image
$parallax-window-height: 100vh;
$parallax-content-height: $parallax-window-height / 2;
$parallax-background-height: $parallax-window-height * 2;
$face: "images/chetcorey.png";

.parallax-window {
  height: 100vh;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-background {
  /* Set rules to fill background */
  min-height: 100%;
  background-image: url($background-image);
  background-position: top;
  background-size: 100%;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}
// END Hero Image


// Full Content Block
.content-full {
  position: relative;
  margin: 20px 0;
  height: 400px;
  width: 100%;
  border: double 5px;

  .one-third {
    position: relative;
    margin: 0 0 0 2%;
    padding: 15px;
    height: 100%;
    width: 32%;
    border: green solid 2px;
  }

  .two-third {
    position: relative;
    margin: 0 1% 0 0;
    padding: 15px;
    height: 100%;
    width: 62%;
    border: green solid 2px;
  }
}
// END Full Content Block

// Footer
.footer {
  position: relative;
  height: 200px;
  width: 100%;
  border: double 5px;
  margin: 20px 0;
}
// END Footer
