@import "bourbon/bourbon";
@import "neat/neat";
@import "progress-bar";
@import "modal";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);

$primary-color: blue;
$secondary-color: gray;
$background-image: "images/bamboo_ring.png";
$bourbon-nav-background-color: #ccc;
$nav-height: 50px;
$shadow-height: 3px;
$perspective: 200;
$width: 100vw;
$max-width: 1200px;
$min-width: 500px;
$border-radius: 6px;
$border-size: 2px;
$header-height: 100px;

body {
  font-family: 'Source Sans Pro', sans-serif;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  margin: 0;
  padding: 1%;
  width: 100vw;
  position: absolute;
  // background-image: url($background-image);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 0;
}

h1 {
  margin: 0;
  height: auto;
  width: 100%;
  text-align: center;
  z-index: 99;
  font-size: 300%;
  color: white;

}

p {
  text-align: left;
}

// Header
$face: "images/chetcorey.png";

.prime {
  top: 0;
  left: 0;
  height: 100%;
  min-width: 400px;
  max-width: 600px;
  width: 34%;
  position: relative;
  background-color:rgba(240,240,240,0.8);
  z-index: 3;
  border: solid green $border-size;
  border-radius: $border-radius;
  float: left;
  .skills {
    position: relative;
    top: 0;
    width: 100%;
    height: 200px;
    background-color:rgba(240,240,240,1);
  }
}
// END Prime

// Header
header {
  width: 100%;
  background-color:rgba(0,0,0,0.8);
  height: $header-height;
  border-radius: ($border-radius - $border-size) ($border-radius - $border-size) 0 0;
  overflow: hidden;

  .face {
    top: 10px;
    left: 10px;
    position: absolute;
    background-image: url($face);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    width: 100px;
    height: 100px;
    margin: 0;
    border-radius: 50%;
    border: solid green 5px;}

  .status-bar {
    left: 0;
    top: 70px;
    width: 100%;
    height: 25px;
    position: absolute;
    background-color:rgb(0,64,0);
    h4 {
      font: 120%;
      padding: 0 130px;
      color: white;
      margin: 0;}}

  .icon-bar {
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: auto;}
}
// END header
$gdi-icon: "images/gdi-icon.png";
// Full Content Block
.content-full {
  top: 0;
  right: 0;
  height: 100%;
  width: 65%;
  overflow: hidden;
  float: right;
  position: relative;
  background-color:rgba(0,0,0,0);
  .arrow{
    height: 100%;
    width: 80px;
    position: absolute;
    z-index: 199;
    opacity: 0.1;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s ease;
    &.left {
      background-image: url("images/arrow_left.png");
      background-size: 50px;
      border-radius: $border-radius 0 0 $border-radius;
      &:hover{
        background-position: left;
        background-color:rgba(0,0,0,0.5);
        opacity: .7;}}
    &.right {
      background-image: url("images/arrow_right.png");
      background-size: 50px;
      border-radius: 0 $border-radius $border-radius 0;
      right: 0;
      &:hover{
        background-position: right;
        background-color:rgba(0,0,0,0.7);
        opacity: .7;}}
  }
  .project-slider {}

  .project {
    position: absolute;
    text-align: center;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    height: 99%;
    box-shadow: 4px 4px 4px #888888;
    border-radius: $border-radius - 1px;
    border: black 1px solid;
    width: 99%;
    &.first {
      background-color:rgba(249,90,97,0.3);}
    &.second {
      background-image: url("images/freeshelf.png");
      background-size: auto 100%;
      background-repeat: no-repeat;
      left: -120%;}
    &.third {
      background-image: url("images/rubyarcade.png");
      background-size: 100% auto;
      background-repeat: no-repeat;
      left: -120%;}
    &.fourth {
      background-color:rgba(240,0,0,0.6);
      left: -120%;}

    .block-left {
      width: 48%;
      display: block;
      height: calc(100% - 110px);
      margin: 5px;
      float: left;
      background-image: url("images/gdi.png");
      background-repeat: no-repeat;
      background-size: 100%;
      top: 0;
      left: 0;
      border: 1px solid black;
      padding: 20px;}
    .block-right {
      height: calc(100% - 110px);
      width: 48%;
      float: right;
      margin: 5px;
      padding: 5px;
      background-size: 100%;
      top: 0;
      right: 0;
      border: 1px solid black;
      .block-small {
        height: 47%;
        width: 100%;
        padding: 10px;
        overflow: scroll;
        background-color: white;
        box-shadow: 4px 4px 4px rgba(0,0,0,0.3);
        border-radius: $border-radius;}
    }
  }
}
// END Full Content Block
// Nav
.nav-bar {
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 30px;
  background: white;
  .icon {
  height: 26px;
  width: 26px;
  margin: 2px 30px;
  border-radius: 50%;
  border: black 2px solid;
  background-repeat: no-repeat;
  background-size: cover;
    &.github {
    background-image: url("images/github.png");}
    &.gdi {
    background-image: url("images/gdi-icon.png");}
    &.website {
    background-image: url("images/website.png");}
}
}
