@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.progress-bar {
  background-color: #f2f2f2;
  border: 1px solid gainsboro;
  box-shadow: inset 0 0 3px 0 rgba(115, 115, 115, 0.15);
  border-radius: 3px;
  height: 30px;
  margin: 0 auto;
  padding: 2px;
  width: 100%;
  top: 1000px; }
  .progress-bar > span.meter {
    -webkit-animation: progress 0.7s linear infinite;
    -moz-animation: progress 0.7s linear infinite;
    animation: progress 0.7s linear infinite;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #477DCA;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%);
    background-size: 40px 40px;
    background-repeat: repeat-x;
    border: 1px solid #2c5999;
    border-radius: 2px;
    display: block;
    height: 100%;
    width: 60%; }

@-webkit-keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
@-moz-keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
@-ms-keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
@-o-keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
@keyframes progress {
  0% {
    background-position: 0px 0px; }
  100% {
    background-position: 40px 0px; } }
a {
  margin: 0; }

body {
  font-family: 'Source Sans Pro', sans-serif;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  right: 0;
  bottom: 0;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  position: absolute;
  background-image: url("images/bamboo_ring.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 0; }

.prime {
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: 4px 4px 4px #888888;
  position: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  position: fixed;
  z-index: 3;
  border: solid black 1px;
  border-radius: 0;
  overflow: hidden;
  float: left; }
  .prime .face {
    left: 0;
    right: 0;
    top: 40%;
    position: absolute;
    background-image: url("images/chetcorey.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    z-index: 10;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    border: solid white 5px; }
  .prime .info {
    top: 100px;
    position: absolute;
    height: auto;
    width: 310px;
    left: 0;
    right: 0;
    margin: auto;
    display: block; }
    .prime .info .icon-large {
      height: 50px;
      width: 50px;
      border-radius: 55%;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: white;
      position: relative;
      margin: 0 25px;
      display: inline-block; }
      .prime .info .icon-large.github {
        background-image: url("images/github.png"); }
      .prime .info .icon-large.email {
        background-image: url("images/email.png"); }
      .prime .info .icon-large.linkedin {
        background-image: url("images/linkedin.png"); }
  .prime header {
    width: 100%;
    top: -10px;
    height: 100px;
    position: relative; }
    .prime header h1 {
      position: relative;
      z-index: 100;
      margin: 0;
      width: 350px;
      font-size: 500%;
      font-weight: normal;
      text-align: center;
      text-shadow: 4px 4px #000000;
      left: calc(50% - 175px);
      color: white; }
    .prime header .status-bar {
      position: relative;
      width: 350px;
      top: 70px;
      left: calc(50% - 175px);
      height: auto;
      position: absolute; }
      .prime header .status-bar h3 {
        padding: 0 40px 0 0;
        width: auto;
        text-align: right;
        background-color: black;
        color: white;
        margin: 10px 0; }
    .prime header .icon-bar {
      left: 0;
      top: 0;
      position: absolute;
      height: 100%;
      width: auto; }

.content-full {
  top: 110px;
  right: 0;
  height: calc(100% - 110px);
  width: 100%;
  overflow: scroll;
  float: right;
  position: fixed;
  padding: 0 100px;
  background-color: transparent; }
  .content-full .arrow {
    height: 100%;
    width: 80px;
    position: absolute;
    z-index: 199;
    opacity: 0.1;
    background: transparent;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s ease; }
    .content-full .arrow.left {
      background-image: url("images/arrow_left.png");
      background-size: 50px;
      border-radius: 4px 0 0 4px;
      left: 0; }
      .content-full .arrow.left:hover {
        background-position: left;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: .7; }
    .content-full .arrow.right {
      background-image: url("images/arrow_right.png");
      background-size: 50px;
      border-radius: 0 5px 5px 0;
      right: 0; }
      .content-full .arrow.right:hover {
        background-position: right;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: .7; }
  .content-full .project-block {
    position: relative;
    text-align: center;
    overflow: hidden;
    top: 100%;
    left: 0;
    right: 0;
    height: calc(100% - 20px);
    box-shadow: 4px 4px 4px #888888;
    border-radius: 4px;
    border: black 1px solid;
    width: 100%;
    margin: 10px 0;
    background: white; }
  .content-full .project {
    position: absolute;
    text-align: center;
    overflow: hidden;
    top: 0;
    right: 0;
    height: calc(100% - 40px);
    box-shadow: 4px 4px 4px #888888;
    border-radius: 4px;
    border: black 1px solid;
    width: calc(100% - 40px);
    margin: 20px; }
    .content-full .project.first {
      left: 0;
      background-color: rgba(249, 90, 97, 0.3); }
    .content-full .project.second {
      background-image: url("images/freeshelf.png");
      background-size: auto 100%;
      left: -100%;
      background-repeat: no-repeat; }
    .content-full .project.third {
      background-image: url("images/rubyarcade.png");
      background-size: 100% auto;
      left: -100%;
      background-repeat: no-repeat; }
    .content-full .project.fourth {
      left: -100%;
      background-color: rgba(240, 0, 0, 0.6); }
    .content-full .project .block-left {
      width: 48%;
      display: block;
      height: calc(100% - 50px);
      margin: 5px;
      float: left;
      background-image: url("images/gdi.png");
      background-repeat: no-repeat;
      background-size: 100%;
      top: 0;
      left: 0;
      border: 1px solid black;
      padding: 20px; }
    .content-full .project .block-right {
      height: calc(100% - 50px);
      width: 48%;
      float: right;
      margin: 5px;
      padding: 5px;
      background-size: 100%;
      top: 0;
      right: 0;
      border: 1px solid black; }
      .content-full .project .block-right .block-small {
        height: 49%;
        width: 100%;
        padding: 0 10px;
        overflow: scroll;
        background-color: white;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
        margin: 0 0 2% 0;
        border-radius: 5px; }

.nav-bar {
  width: 100%;
  height: 40px;
  background: white;
  overflow: auto;
  text-align: center; }
  .nav-bar h2 {
    width: auto;
    height: 40px;
    margin: 0 20px;
    display: inline-block;
    vertical-align: top;
    position: relative; }

.icon {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
  margin: 5px 30px;
  border-radius: 50%;
  border: black 2px solid;
  background-repeat: no-repeat;
  background-size: cover; }
  .icon.github {
    background-image: url("images/github.png"); }
  .icon.gdi {
    background-image: url("images/gdi-icon.png"); }
  .icon.website {
    background-image: url("images/website.png"); }
  .icon.email {
    background-image: url("images/email.png"); }
  .icon.linkedin {
    background-image: url("images/linkedin.png"); }

.glass {
  content: ' ';
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(20, 20, 20, 0.8); }

/*# sourceMappingURL=style.css.map */
