@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200);
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

body {
  overflow: auto;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif; }

.background {
  background-image: url("images/bamboo.jpeg");
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: absolute;
  height: 3500px;
  width: calc(300px + 100vw);
  top: 0;
  left: -300px; }

.nav {
  width: 100%;
  position: fixed;
  height: 53px;
  top: 0;
  left: 0;
  z-index: 999;
  -moz-box-shadow: 2px 2px 2px #000;
  -webkit-box-shadow: 2px 2px 2px #000;
  box-shadow: 2px 2px 2px #000; }
  .nav ul {
    height: 50px 3px;
    text-align: center;
    float: center;
    padding: 0;
    margin: 0; }
  .nav li {
    background: #544;
    display: inline-block;
    padding: 2px;
    height: 100%;
    -moz-box-shadow: 2px 2px 2px #000;
    -webkit-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000; }
  .nav a {
    color: #000;
    display: inline-block;
    font-weight: bold;
    padding: 1em; }
    .nav a:hover {
      background-color: #b3b3b3;
      color: #fff; }

.nav::after {
  box-shadow: red 2px 2px 500px;
  position: fixed;
  top: 50px;
  left: 0;
  height: 1px; }

.header {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  text-align: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 24px; }
  .header .face {
    top: 15vh;
    left: 0;
    right: 0;
    position: absolute;
    background-image: url("images/chetcorey.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 10;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%; }
  .header h1 {
    color: black;
    background: gray;
    position: absolute;
    text-align: center;
    top: calc(15vh + 200px);
    font-weight: lighter;
    margin: 32px 38% 12px;
    left: 0;
    right: 0;
    border-radius: 24px; }

.content-full {
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  top: 100vh;
  text-align: center;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  border-radius: 24px; }
  .content-full::after {
    clear: both;
    content: "";
    display: table; }
  .content-full h1 {
    border-radius: 24px;
    font-size: 4em;
    margin: 0;
    position: absolute;
    text-align: center;
    line-height: 1em;
    top: 0;
    left: 0;
    width: 100%;
    height: 1em;
    background-color: rgba(255, 255, 255, 0.4); }

.hover-tile-outer {
  background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");
  background-position: bottom;
  background-size: cover;
  background-color: beige;
  border: 1px solid gainsboro;
  cursor: pointer;
  height: calc(100% - 2em);
  margin-bottom: 1em;
  width: 1em; }
  .hover-tile-outer h4 {
    margin: 0; }
  .hover-tile-outer p {
    line-height: 1em; }
  @media screen and (min-width: 40em) {
    .hover-tile-outer {
      width: 40%; } }
  .hover-tile-outer .hover-tile-container {
    height: calc(100% - 2em);
    overflow: hidden; }
  .hover-tile-outer .hover-tile-container:hover > .hover-tile {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  .hover-tile-outer .hover-tile {
    -webkit-transition: all, 0.8s ease-in-out;
    -moz-transition: all, 0.8s ease-in-out;
    transition: all, 0.8s ease-in-out;
    color: black;
    font-size: 2em;
    height: 100px;
    width: 40%;
    overflow: hidden;
    padding: .6em;
    position: absolute;
    text-align: top;
    bottom: 0;
    opacity: 0; }
  .hover-tile-outer .hover-tile-hidden {
    background: rgba(0, 0, 0, 0.7); }
    .hover-tile-outer .hover-tile-hidden p {
      color: rgba(255, 255, 255, 0.5);
      margin-top: 1000px; }
    .hover-tile-outer .hover-tile-hidden h1 {
      margin-top: -20px; }

/*# sourceMappingURL=style.css.map */
